package views

templ Index() {
<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vukovlevi - home</title>
  <link rel="icon" type="image/x-icon" href="/images/vukov_logo.png">
</head>
<body>
    <div>
        Hello world
    </div>
</body>
</html>
}
